aioquic==1.2.0
asgiref==3.8.1
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
Brotli==1.1.0
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
ConfigArgParse==1.7
cryptography==43.0.3
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
gevent==24.10.3
geventhttpclient==2.3.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
kaitaistruct==0.10
ldap3==2.9.1
locust==2.32.0
MarkupSafe==3.0.2
mitmproxy==11.0.0
mitmproxy_rs==0.9.3
msgpack==1.1.0
mysql-connector-python==9.1.0
packaging==24.1
passlib==1.7.4
protobuf==5.28.2
psutil==6.1.0
publicsuffix2==2.20191221
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pylsqpack==0.3.18
pyOpenSSL==24.2.1
pyparsing==3.1.4
pyperclip==1.9.0
python-dotenv==1.0.1
pyzmq==26.2.0
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
service-identity==24.1.0
sortedcontainers==2.4.0
soupsieve==2.6
tomli==2.0.2
tornado==6.4.1
typing_extensions==4.11.0
urllib3==2.2.3
urwid==2.6.15
wcwidth==0.2.13
Werkzeug==3.0.4
wsproto==1.2.0
zope.event==5.0
zope.interface==7.1.0
zstandard==0.23.0
